{% extends 'base/app-base.html' %}
{% load static %}

{% block css-container %}
<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/app-common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/event_form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/event-top.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/create_schedule.css' %}">

{% endblock css-container %}


{% block home-title %}itsuiku | {{ event.title }}{% endblock home-title %}

{% block content %}



<div class="container event-top-container">
  {% if request.user.is_authenticated %}
    {% include 'includes/app-navbar.html' %}
  {% endif %}


  <h1 class="content-title">イベント詳細</h1>
  <div class="panel panel-default event-top-panel">
    <div class="panel-body">
      <h3>{{ event.title }}</h3>
      <hr />
      <p class="lead">{{ event.description }}</p>
    </div>
  </div>



  <hr />

  <form method="POST" action="">
    {% csrf_token %}
    {{ attendance_form.management_form  }}
    <h1 class="content-title">スケジュール入力</h1>
    <div class="row">
      <div class="col-sm-6">
    <div class="panel panel-default event-top-panel">
      <div class="panel-body">
        {{ invitee_form }}
      </div>
    </div>
    </div>
    <div class="col-sm-6">
    <div class="panel panel-default event-top-panel">
      <div class="panel-body">
        <!-- Attedance form table style -->
        <table class="table table-bordered">
          <tbody>
            {% if sl_af %}
              {% for schedule, attendance_field in sl_af %}
              <tr>
                <td class="center-td">
                  <span class="s-date-span">{{ schedule.date | date:'Y-m-d' }}</span><br />
                  <span class="s-comment-span">{{ schedule.comment }}</span>
                </td>
                <td>
                  {{ attendance_field.choice.label }}
                  {% for radio in attendance_field.choice %}
                      {{ radio.tag }}
                      <label>{{ radio.choice_label }}</label>
                  {% endfor %}
                  <br />          </td>
              </tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

    </div>


  </form>



<!-- border -->



  <form method="POST" action="">
    {% csrf_token %}
    {{ attendance_form.management_form  }}

    <div class="row">
      <div class="col-sm-4">
        {{ invitee_form }}
      </div>
      <div class="col-sm-8">
        <!-- Attedance form table style -->
        <table class="table table-bordered" style="max-width: 100%">
          <tbody>
            {% if sl_af %}
              {% for schedule, attendance_field in sl_af %}
              <tr>
                <td style="max-width: 40px;">
                  {{ schedule.date }}: {{ schedule.comment }}
                </td>
                <td>
                  {{ attendance_field.choice.label }}
                  {% for radio in attendance_field.choice %}
                      {{ radio.tag }}
                      <label>{{ radio.choice_label }}</label>
                  {% endfor %}
                  <br />          </td>
              </tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>



<br><br>


  <input type="submit" value="登録する" class="btn btn-primary">

  </form>




</div>
{% endblock content %}


{% block app-js %}
<script>


</script>
{% endblock app-js %}
