{% extends 'base/app-base.html' %}
{% load static %}

{% block css-container %}
<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/app-common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/event_form.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/event-top.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/create_schedule.css' %}">

{% endblock css-container %}


{% block home-title %}itsuiku | {{ event.title }}{% endblock home-title %}

{% block content %}



<div class="container event-top-container">
  {% if request.user.is_authenticated %}
    {% include 'includes/app-navbar.html' %}
  {% endif %}


  <h1 class="content-title">イベント詳細</h1>
  <div class="panel panel-default event-top-panel">
    <div class="panel-body">
      <h3>{{ event.title }}</h3>
      <hr />
      <p class="lead">{{ event.description|linebreaks }}</p>
    </div>
  </div>



  <hr />

  <form method="POST" action="">
    {% csrf_token %}
    {{ attendance_form.management_form  }}
    <h1 class="content-title">スケジュール入力</h1>
    <div class="row">
      <div class="col-sm-6">
    <div class="panel panel-default event-top-panel">
      <div class="panel-body">
        {{ invitee_form }}
      </div>
    </div>
    </div>
    <div class="col-sm-6">
    <div class="panel panel-default event-top-panel">
      <div class="panel-body">
        <!-- Attedance form table style -->
        <table class="table table-bordered">
          <tbody>
            {% if sl_af %}
              {% for schedule, attendance_field in sl_af %}
              <tr>
                <td class="center-td s-date">
                  <span class="s-date-span">{{ schedule.date | date:'Y-m-d' }}</span><br />
                  <span class="s-comment-span">{{ schedule.comment }}</span>
                </td>
                <td class="center-td">
                  <div class="btn-group" data-toggle="buttons">
                  {% for radio in attendance_field.choice %}
                      <label class="btn btn-itsuiku-sp btn-lg {% if radio.choice_value == radio.value %} active {% endif %}">
                        {{ radio.tag }}
                        {% if radio.choice_label == 'yes' %}
                          <span class="yes-label">◯</span>
                        {% elif radio.choice_label == 'no' %}
                          <span class="no-label">×</span>
                        {% endif %}
                      </label>
                  {% endfor %}
                  </div>
                </td>
              </tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

    </div>


    <input type="submit" value="登録する" class="btn btn-itsuiku btn-block btn-lg">
    <!-- <div class="object-divider"></div> -->
    <hr />
    {% if invitee %}
    <button type="button" class="btn btn-lg btn-block btn-itsuiku-imp" data-toggle="modal" data-target="#deletionAttendanceModal{{ invitee.id }}">
      スケジュールを削除する
    </button>
    <div class="modal fade" id="deletionAttendanceModal{{ invitee.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Warning!</h4>
          </div>
          <div class="modal-body">
            {{ invitee.name }}さんのスケジュールを削除します
          </div>
          <div class="modal-footer">
            <a class="btn btn-xs btn-danger" href="{% url 'attendance:delete' invitee_id=invitee.id event_code=event.event_code %}">
              削除
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}


  </form>



<!-- border -->




<br><br>





</div>
{% endblock content %}


{% block app-js %}
<script>


</script>
{% endblock app-js %}
