{% extends 'base/app-base.html' %}
{% load static %}

{% block css-container %}
<link rel="stylesheet" type="text/css" href="{% static 'css/event_form.css' %}">
{% endblock css-container %}

{% block home-title %}itsuiku | イベント登録{% endblock home-title %}

{% block content %}
<div class="container">
  {% include 'includes/app-navbar.html' %}
  <h1>イベントを作成</h1>
  <hr />

  <form method="POST" action="">
    {% csrf_token %}
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <p>Step1. タイトルとメモを入力しましょう</p>
        <hr />
        {{ event_form.as_p }}
      </div>
    </div>

    <hr />
    <!-- calendar and field -->
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1">
        <p>Step2: 日付をカレンダーより選択しましょう</p>
        <hr />
        <div id="datepicker"></div>
        {{ schedule_formset.management_form }}
      </div>
      <div class="col-sm-4 col-sm-offset-1">
        <p>Step3: 時間や一言メモを記入しましょう</p>
        <hr />
        {% if schedule_formset %}
          <div>
            {% for schedule in schedule_formset %}
            <!-- {% if schedule.date.value %} -->
              {{ schedule.as_p }}
              <!-- {% endif %} -->
            {% endfor %}
          </div>
        {% endif %}
        <div class="form-row" id="empty-form">
          <!-- {{ schedule_formset.empty_form.as_p }} -->
          <div class="form-inline">
          {% for e_field in schedule_formset.empty_form %}
            {{ e_field }}
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  <br>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <input type='submit' value='イベントを作成する' class="btn btn-info btn-lg btn-block">
    </div>
  </div>

</form>


</div>
{% endblock content %}

{% block js-container %}
<script src="{% static 'js/datepicker_utils.js' %}"></script>

{% endblock js-container %}
