{% extends 'base/app-base.html' %}

{% block home-title %}itsuiku | {{ event.title }}{% endblock home-title %}

{% block style %}
<style>
</style>
{% endblock style %}


{% block content %}



<div class="container">


  {% if request.user.is_authenticated %}
    {% include 'includes/app-navbar.html' %}
  {% endif %}

  <h1>{{ event.title }}</h1>
  <p>{{ event.description }}</p>



  <hr />

  <h1>参加入力</h1>
  <hr />

  <form method="POST" action="">
    {% csrf_token %}
    {{ attendance_form.management_form  }}

    <div class="row">
      <div class="col-sm-4">
        {{ invitee_form }}
      </div>
      <div class="col-sm-8">
        <!-- Attedance form table style -->
        <table class="table table-bordered" style="max-width: 100%">
          <tbody>
            {% if sl_af %}
              {% for schedule, attendance_field in sl_af %}
              <tr>
                <td style="max-width: 40px;">
                  {{ schedule.date }}: {{ schedule.comment }}
                </td>
                <td>
                  {{ attendance_field.choice.label }}
                  {% for radio in attendance_field.choice %}
                      {{ radio.tag }}
                      <label>{{ radio.choice_label }}</label>
                  {% endfor %}
                  <br />          </td>
              </tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>      </div>
    </div>


  <br><br>


  <!-- <div class="row">
    <div class="col-sm-6">
      {% for schedule in event.schedule_range.all %}
        <p>{{ schedule.date }}: {{ schedule.comment }}</p>
      {% endfor %}
    </div>

    <div class="col-sm-6">
      {% for attendance_field in attendance_form %}
          {{ attendance_field.choice.label }}
          {% for radio in attendance_field.choice %}
              {{ radio.tag }}
              <label>{{ radio.choice_label }}</label>
          {% endfor %}
          <br />
      {% endfor %}
    </div>

  </div> -->

<br><br>


  <input type="submit" value="登録する" class="btn btn-primary">

  </form>




</div>
{% endblock content %}


{% block app-js %}
<script>


</script>
{% endblock app-js %}
