{% extends 'base/app-base.html' %}

{% block home-title %}itsuiku | ダッシュボード{% endblock home-title %}

{% block style %}
<style>
</style>
{% endblock style %}


{% block content %}
<div class="container">

  <h1>Dashboard</h1>

  {% if request.user.is_authenticated %}
    <h1>ようこそ！{{ request.user }}さん</h1>
    <a href="{% url 'account:logout' %}">ログアウト</a>
    <a href="{% url 'event:create-event' %}">イベントを作成する</a>

    <br />
    {% if events %}
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>タイトル</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
          <tr>
            <td><a href="/{{ event.event_code }}">{{ event.title }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

  {% endif %}




</div>
{% endblock content %}


{% block app-js %}
<script>


</script>
{% endblock app-js %}
