{% extends 'base/app-base.html' %}
{% load static %}

{% block home-title %}itsuiku | {{ event.title }}{% endblock home-title %}

{% block css-container %}
<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/app-common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/event-top.css' %}">
{% endblock css-container %}


{% block content %}
<div class="container event-top-container">

  {% if request.user.is_authenticated %}
    {% include 'includes/app-navbar.html' %}
  {% endif %}



  <h1 class="content-title">
    {% if user_profile %}
      {{ user_profile.username }}さんのイベント
    {% else %}
      ゲストさんのイベント
    {% endif %}
  </h1>

  {% if request.user.is_authenticated %}
  <div style="text-align: right; margin-bottom: 5px;">
    <a href="{% url 'event:update-event' event_code=event.event_code %}" class="btn btn-itsuiku-warn">編集</a>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletionModal">
      削除
    </button>
  </div>
  {% endif %}

  <div class="panel panel-default event-top-panel">
    <div class="panel-body">
      <h3>{{ event.title }}</h3>
      <hr />
      <p class="lead">{{ event.description }}</p>
    </div>
  </div>


  <hr>

  <a class="btn btn-itsuiku" href="{% url 'attendance:create' event_code=event.event_code %}">
    参加予定を入力する
  </a>
  <br><br>


  <h1 class="content-title">参加者のスケジュール</h1>

  <div class="panel panel-default event-top-panel">
    <div class="panel-body">
      {% if event and invitees %}
        <div class="table-responsive">
        <table class="table table-bordered table-striped schedule-table">
          <thead>
            <tr>
              <th class="event-top-name-th"></th>
              {% for schedule in schedule_range %}
                <th class="event-top-date">
                  {{ schedule.date | date:'Y-m-d' }}<br />
                  <span style="font-size: 10px;">{{ schedule.comment }}</span>
                </th>
              {% endfor %}
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% if invitees %}
              {% for invitee in invitees %}
                <tr>
                  <td class="event-top-name-td">
                    {{ invitee.name }}<br />
                    <span style="font-size: 10px;">{{ invitee.comment }}</span>
                  </td>
                  {% for d in invitee.attendance.all %}
                    {% if d.choice == 'yes' %}
                      <td class="choice-td choice-yes alert-success">◯</td>
                    {% elif d.choice == 'no' %}
                      <td class="choice-td choice-no alert-danger">×</td>
                    {% elif d.choice == None %}
                      <td class="choice-td choice-ne alert-warning">未</td>
                    {% endif %}
                  {% endfor %}
                  <td>
                    <a class="btn btn-itsuiku-warn btn-xs" href="{% url 'attendance:update' invitee_id=invitee.id event_code=event.event_code %}">
                      編集
                    </a>
                    <!-- <button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#deletionAttendanceModal{{ invitee.id }}">
                      削除
                    </button> -->
                    <!-- Modal -->
                    <div class="modal fade" id="deletionAttendanceModal{{ invitee.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Warning!</h4>
                          </div>
                          <div class="modal-body">
                            {{ invitee.name }}さんのスケジュールを削除します
                          </div>
                          <div class="modal-footer">
                            <a class="btn btn-xs btn-danger" href="{% url 'attendance:delete' invitee_id=invitee.id event_code=event.event_code %}">
                              削除
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Model end -->
                </td>
                </tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
        </div>
      {% else %}
        <p class="center-notif">現在、このイベントへの参加者はいません</p>
      {% endif %}
    </div>
  </div>



  <!-- Modal -->
  <div class="modal fade" id="deletionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Warning!</h4>
        </div>
        <div class="modal-body">
          イベントを削除すると、全ての参加予定も削除され復元はできません
        </div>
        <div class="modal-footer">
          <a href="{% url 'event:delete-event' event_code=event.event_code %}" class="btn btn-danger">削除</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Model end -->





</div>
{% endblock content %}


{% block app-js %}
<script>


</script>
{% endblock app-js %}
