{% extends 'base/app-base.html' %}

{% block home-title %}itsuiku | {{ event.title }}{% endblock home-title %}

{% block style %}
<style>
</style>
{% endblock style %}


{% block content %}
<div class="container">

  <h1>{{ event.title }}</h1>
  <p>{{ event.description }}</p>


  {% if request.user.is_authenticated %}
  <a href="{% url 'event:delete-event' event_code=event.event_code %}" class="btn btn-danger">削除</a>
  <a href="{% url 'event:update-event' event_code=event.event_code %}" class="btn btn-danger">編集</a>
  {% endif %}

  <a class="btn btn-primary" href="{% url 'attendance:create' event_code=event.event_code %}">参加予定を入力する</a>


  <hr>

  {% if event %}
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th></th>
          {% for schedule in schedule_range %}
            <th style="text-align: center;">
              {{ schedule.date | date:'Y-m-d' }}<br />
              <span style="font-size: 10px;">{{ schedule.comment }}</span>
            </th>
          {% endfor %}
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% if invitees %}
          {% for invitee in invitees %}
            <tr>
              <td>{{ invitee.name }}</td>
              {% for d in invitee.attendance.all %}
                <td>{{ d.choice }}</td>
              {% endfor %}
              <td>
                <a class="btn btn-xs btn-warning" href="{% url 'attendance:update' invitee_id=invitee.id event_code=event.event_code %}">
                  編集
                </a>
                <button class="btn btn-xs btn-danger">削除</button>
              </td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  {% endif %}



  <hr>



  {% if invitees %}
    <h1>参加者</h1>
    {% for invitee in invitees %}
      <p>{{ invitee.name }}</p>
      {% for d in invitee.attendance.all %}
        {{ d.schedule.date }}: {{ d.choice }}
      {% endfor %}
      <a class="btn btn-xs btn-warning" href="{% url 'attendance:update' invitee_id=invitee.id event_code=event.event_code %}">
        編集
      </a>
      <button class="btn btn-xs btn-danger">削除</button>
    {% endfor %}
  {% else %}
    <p>参加者はいません</p>
  {% endif %}


  <hr>






</div>
{% endblock content %}


{% block app-js %}
<script>


</script>
{% endblock app-js %}
