{% extends 'base/app-base.html' %}

{% block home-title %}itsuiku | {{ event.title }}{% endblock home-title %}

{% block style %}
<style>
</style>
{% endblock style %}


{% block content %}
<div class="container">

  <h1>{{ event.title }}</h1>
  <p>{{ event.description }}</p>

  <a href="{% url 'event:delete-event' event_code=event.event_code %}" class="btn btn-danger">削除</a>
  <a href="{% url 'event:update-event' event_code=event.event_code %}" class="btn btn-danger">編集</a>


  <hr>
  {% if invitees %}
    <h1>参加者</h1>
    {% for invitee in invitees %}
      <p>{{ invitee.name }}</p>
      {% for d in invitee.attendance.all %}
        {{ d.schedule.date }}: {{ d.choice }}
      {% endfor %}
    {% endfor %}
  {% else %}
    <p>参加者はいません</p>
  {% endif %}


  <hr>
  <h1>参加入力フォーム</h1>

  <form method="POST" action="">
    {% csrf_token %}

  {{ invitee_form }}


  <div class="row">
    <div class="col-sm-6">
      {% for schedule in event.schedule_range.all %}
        <p>{{ schedule.date }}: {{ schedule.comment }}</p>
      {% endfor %}
    </div>

    <div class="col-sm-6">
      {{ attendance_form.as_p }}
    </div>

  </div>

  <input type="submit" value="登録する" class="btn btn-primary">

  </form>




</div>
{% endblock content %}


{% block app-js %}
<script>


</script>
{% endblock app-js %}
