{% extends 'base/app-base.html' %}
{% load static %}

{% block home-title %}itsuiku | イベント作成しました{% endblock home-title %}

{% block css-container %}
<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/app-common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/event_form.css' %}">
{% endblock css-container %}

{% block content %}

<div class="container">
  {% include 'includes/app-navbar.html' %}

  <div class="panel panel-default panel-middle-container">
    <div class="panel-body">
      <h5>イベント登録が完了しました！</h5>
      <p class="lead">下記のURLを友達や同僚に送り、スケジュールを入力してもらいましょう！</p>

      <input type="text" class="form-control" value="http://itsuiku.co:8000/{{ event.event_code }}" readonly>
      <br />
      <br />
      <br />
      <p class="text-center">
        <a href="http://itsuiku.co:8000/{{ event.event_code }}" class="btn btn-itsuiku btn-lg">
          まずは自分の予定を入力する
        </a>
      </p>
    </div>
  </div>


</div>

<div class="footer-spacer"></div>

{% endblock content %}
