{% extends 'base/app-base.html' %}
{% load static %}

{% block home-title %}itsuiku | イベント更新{% endblock home-title %}

{% block css-container %}
<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/app-common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/event_form.css' %}">
{% endblock css-container %}


{% block content %}
<div class="container">

  {% include 'includes/app-navbar.html' %}

  <div class="content-title">
    <i class="fa fa-calendar" aria-hidden="true">イベントを更新</i>
  </div>
  <hr />


  <form method="POST" action="">
    {% csrf_token %}



    <div class="row">
      <div class="col-sm-6">
          <div class="panel panel-default event-form-panel">
            <div class="panel-body">
              <p class="event-step-desc">Step1. タイトルとメモを入力しましょう</p>
              <hr />
              {{ event_form.as_p }}
            </div>
          </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default event-form-panel">
          <div class="panel-body">
        <p class="event-step-desc">Step2: 日付をカレンダーより選択しましょう</p>
        <hr />
        <div id="datepicker"></div>
        {{ schedule_formset.management_form }}
      </div></div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-body">
        <p class="event-step-desc">Step3: 選択した日付に、時間やメモを入力しましょう</p>
        <hr />
        {% if schedule_formset %}
          <div>
            {% for schedule in schedule_formset %}
            <!-- {% if schedule.date.value %} -->
              {{ schedule.as_p }}
              <!-- {% endif %} -->
            {% endfor %}
          </div>
        {% endif %}



        <div class="form-row" id="empty-form">
          <!-- {{ schedule_formset.empty_form.as_p }} -->
          <!-- <div class="form-inline"> -->
          {% for e_field in schedule_formset.empty_form %}
            <p>{{ e_field }}</p>
          {% endfor %}
          <hr />
          <!-- </div> -->
        </div>

        <div class="form-row" id="empty-form">

          {{ schedule_formset.empty_form.as_p }}
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
    <p class="event-step-desc">Step4: 設定した日付で削除したい日付があれば、チェックをいれてください</p>
    <hr />
    {% if schedule_list and schedule_deletion_formset %}
    <div class="row">
      <div class="col-sm-6">
        {% for schedule in schedule_list %}
          {{ schedule.date }} {{ schedule.comment }}
          <br />
        {% endfor %}
      </div>
      <div class="col-sm-6">
        {{ schedule_deletion_formset.management_form }}
        {% for schedule_deletion_form in schedule_deletion_formset %}
          {{ schedule_deletion_form.as_p }}
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
</div>
</div>


    <!-- fixed part end -->





<br />
<br />
<input type='submit' value='イベント更新' class="btn btn-info btn-block">
</div>

</form>


</div>
{% endblock content %}


{% block js-container %}
<script src="{% static 'js/datepicker_utils.js' %}"></script>

{% endblock js-container %}
