{% extends 'base/app-base.html' %}
{% load static %}

{% block home-title %}itsuiku | イベント更新{% endblock home-title %}

{% block css-container %}
<link rel="stylesheet" type="text/css" href="{% static 'css/event_form.css' %}">
{% endblock css-container %}


{% block content %}
<div class="container">

  {% include 'includes/app-navbar.html' %}

  <h1>イベントを更新</h1>
  <h1>{{ request.user }}</h1>
  <hr />


  <form method="POST" action="">
    {% csrf_token %}
    <div class="row">
      <div class="col-sm-4">
    {{ event_form.as_p }}
  </div>
<div class="col-sm-4">
  {% if schedule_list and schedule_deletion_formset %}
  <div class="row">
    <div class="col-sm-6">
      {% for schedule in schedule_list %}
        {{ schedule.id }} {{ schedule.date }} {{ schedule.comment }}
        <br />
      {% endfor %}
    </div>
    <div class="col-sm-6">
      {{ schedule_deletion_formset.management_form }}
      {% for schedule_deletion_form in schedule_deletion_formset %}
        {{ schedule_deletion_form.as_p }}
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <div class="form-row" id="empty-form">

    {{ schedule_formset.empty_form.as_p }}
  </div>
</div>
<div class="col-sm-4">
  <div id="datepicker"></div>
  {{ schedule_formset.management_form }}

</div>

  </div>

  <input type='submit' value='イベント更新' class="btn btn-primary">

</form>


</div>
{% endblock content %}


{% block js-container %}
<script src="{% static 'js/datepicker_utils.js' %}"></script>

{% endblock js-container %}
