body {
  background-color: #f5f5f5;
}


.main-app-panel {
  min-height: 500px;
}


/*.content-title {
  font-size: 24px;
  font-weight: bold;
}*/


.event-step-desc {
  font-weight: bold;
  font-size: 18px;
  color: #535353;
  border-left: 5px solid #14BDEB;
  letter-spacing: 1px;
  padding-left: 3px;
}


.event-form-panel {
  min-height: 430px;
}

#datepicker {
  font-size: 16px;
  /*width: 900px;*/
  margin: 0 auto;
}


.ui-datepicker {
  margin: 0 auto;
  vertical-align: middle;
  width: 400px;
}


.panel-middle-container {
  max-width: 800px;
  margin: 0 auto;
  min-height: 500px;
}

.panel-middle-container h5 {
  font-weight: bold;
  font-size: 28px;
  color: #535353;
  border-left: 5px solid #14BDEB;
  letter-spacing: 1px;
  padding-left: 3px;
  margin-bottom: 50px;
}

.panel-middle-container .btn {
  min-width: 500px;
}


.content-title {
  font-weight: bold;
  font-size: 28px;
  color: #535353;
  border-left: 5px solid #14BDEB;
  letter-spacing: 1px;
  padding-left: 3px;
  margin-bottom: 15px;
}


.center-notif {
  text-align: center;
  padding: 80px;
  font-size: 18px;
  color: #535353;
}

.center-td {
  text-align: center;
  vertical-align: middle !important;
}


.yes-label {
  font-weight: bold;
}

.no-label {
  font-weight: bold;
}
