body {
  background-color: #f5f5f5;
}


.main-app-panel {
  min-height: 500px;
}


.content-title {
  font-size: 24px;
  font-weight: bold;
}


.event-step-desc {
  font-weight: bold;
  font-size: 18px;
  color: #535353;
  border-left: 5px solid #14BDEB;
  letter-spacing: 1px;
  padding-left: 3px;
}


.event-form-panel {
  min-height: 430px;
}

#datepicker {
  font-size: 21px;
}

/*.datepicker-container {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}*/
