


.btn-itsuiku {
  color: #ffffff;
  background-color: #14BDEB;
  border-color: #14BDEB;
}

.btn-itsuiku:hover,
.btn-itsuiku:focus,
.btn-itsuiku:active,
.btn-itsuiku.active,
.open .dropdown-toggle.btn-itsuiku {
  color: #ffffff;
  background-color: #09B1E0;
  border-color: #14BDEB;
}

.btn-itsuiku:active,
.btn-itsuiku.active,
.open .dropdown-toggle.btn-itsuiku {
  background-image: none;
}

.btn-itsuiku.disabled,
.btn-itsuiku[disabled],
fieldset[disabled] .btn-itsuiku,
.btn-itsuiku.disabled:hover,
.btn-itsuiku[disabled]:hover,
fieldset[disabled] .btn-itsuiku:hover,
.btn-itsuiku.disabled:focus,
.btn-itsuiku[disabled]:focus,
fieldset[disabled] .btn-itsuiku:focus,
.btn-itsuiku.disabled:active,
.btn-itsuiku[disabled]:active,
fieldset[disabled] .btn-itsuiku:active,
.btn-itsuiku.disabled.active,
.btn-itsuiku[disabled].active,
fieldset[disabled] .btn-itsuiku.active {
  background-color: #14BDEB;
  border-color: #14BDEB;
}

.btn-itsuiku .badge {
  color: #14BDEB;
  background-color: #ffffff;
}

.btn-itsuiku-imp {
  color: #ffffff;
  background-color: #F21B3F;
  border-color: #F21B3F;
}

.btn-itsuiku-imp:hover,
.btn-itsuiku-imp:focus,
.btn-itsuiku-imp:active,
.btn-itsuiku-imp.active,
.open .dropdown-toggle.btn-itsuiku-imp {
  color: #ffffff;
  background-color: #DE1F3F;
  border-color: #F21B3F;
}

.btn-itsuiku-imp:active,
.btn-itsuiku-imp.active,
.open .dropdown-toggle.btn-itsuiku-imp {
  background-image: none;
}

.btn-itsuiku-imp.disabled,
.btn-itsuiku-imp[disabled],
fieldset[disabled] .btn-itsuiku-imp,
.btn-itsuiku-imp.disabled:hover,
.btn-itsuiku-imp[disabled]:hover,
fieldset[disabled] .btn-itsuiku-imp:hover,
.btn-itsuiku-imp.disabled:focus,
.btn-itsuiku-imp[disabled]:focus,
fieldset[disabled] .btn-itsuiku-imp:focus,
.btn-itsuiku-imp.disabled:active,
.btn-itsuiku-imp[disabled]:active,
fieldset[disabled] .btn-itsuiku-imp:active,
.btn-itsuiku-imp.disabled.active,
.btn-itsuiku-imp[disabled].active,
fieldset[disabled] .btn-itsuiku-imp.active {
  background-color: #F21B3F;
  border-color: #F21B3F;
}

.btn-itsuiku-imp .badge {
  color: #F21B3F;
  background-color: #ffffff;
}


.btn-itsuiku-suc {
  color: #ffffff;
  background-color: #23CE6B;
  border-color: #23CE6B;
}

.btn-itsuiku-suc:hover,
.btn-itsuiku-suc:focus,
.btn-itsuiku-suc:active,
.btn-itsuiku-suc.active,
.open .dropdown-toggle.btn-itsuiku-suc {
  color: #ffffff;
  background-color: #15BF5C;
  border-color: #23CE6B;
}

.btn-itsuiku-suc:active,
.btn-itsuiku-suc.active,
.open .dropdown-toggle.btn-itsuiku-suc {
  background-image: none;
}

.btn-itsuiku-suc.disabled,
.btn-itsuiku-suc[disabled],
fieldset[disabled] .btn-itsuiku-suc,
.btn-itsuiku-suc.disabled:hover,
.btn-itsuiku-suc[disabled]:hover,
fieldset[disabled] .btn-itsuiku-suc:hover,
.btn-itsuiku-suc.disabled:focus,
.btn-itsuiku-suc[disabled]:focus,
fieldset[disabled] .btn-itsuiku-suc:focus,
.btn-itsuiku-suc.disabled:active,
.btn-itsuiku-suc[disabled]:active,
fieldset[disabled] .btn-itsuiku-suc:active,
.btn-itsuiku-suc.disabled.active,
.btn-itsuiku-suc[disabled].active,
fieldset[disabled] .btn-itsuiku-suc.active {
  background-color: #23CE6B;
  border-color: #23CE6B;
}

.btn-itsuiku-suc .badge {
  color: #23CE6B;
  background-color: #ffffff;
}


.btn-itsuiku-pr {
  color: #ffffff;
  background-color: #0071CF;
  border-color: #0071CF;
}

.btn-itsuiku-pr:hover,
.btn-itsuiku-pr:focus,
.btn-itsuiku-pr:active,
.btn-itsuiku-pr.active,
.open .dropdown-toggle.btn-itsuiku-pr {
  color: #ffffff;
  background-color: #106AB3;
  border-color: #0071CF;
}

.btn-itsuiku-pr:active,
.btn-itsuiku-pr.active,
.open .dropdown-toggle.btn-itsuiku-pr {
  background-image: none;
}

.btn-itsuiku-pr.disabled,
.btn-itsuiku-pr[disabled],
fieldset[disabled] .btn-itsuiku-pr,
.btn-itsuiku-pr.disabled:hover,
.btn-itsuiku-pr[disabled]:hover,
fieldset[disabled] .btn-itsuiku-pr:hover,
.btn-itsuiku-pr.disabled:focus,
.btn-itsuiku-pr[disabled]:focus,
fieldset[disabled] .btn-itsuiku-pr:focus,
.btn-itsuiku-pr.disabled:active,
.btn-itsuiku-pr[disabled]:active,
fieldset[disabled] .btn-itsuiku-pr:active,
.btn-itsuiku-pr.disabled.active,
.btn-itsuiku-pr[disabled].active,
fieldset[disabled] .btn-itsuiku-pr.active {
  background-color: #0071CF;
  border-color: #0071CF;
}

.btn-itsuiku-pr .badge {
  color: #0071CF;
  background-color: #ffffff;
}


.btn-itsuiku-warn {
  color: #ffffff;
  background-color: #F7B538;
  border-color: #F7B538;
}

.btn-itsuiku-warn:hover,
.btn-itsuiku-warn:focus,
.btn-itsuiku-warn:active,
.btn-itsuiku-warn.active,
.open .dropdown-toggle.btn-itsuiku-warn {
  color: #ffffff;
  background-color: #E39E1D;
  border-color: #F7B538;
}

.btn-itsuiku-warn:active,
.btn-itsuiku-warn.active,
.open .dropdown-toggle.btn-itsuiku-warn {
  background-image: none;
}

.btn-itsuiku-warn.disabled,
.btn-itsuiku-warn[disabled],
fieldset[disabled] .btn-itsuiku-warn,
.btn-itsuiku-warn.disabled:hover,
.btn-itsuiku-warn[disabled]:hover,
fieldset[disabled] .btn-itsuiku-warn:hover,
.btn-itsuiku-warn.disabled:focus,
.btn-itsuiku-warn[disabled]:focus,
fieldset[disabled] .btn-itsuiku-warn:focus,
.btn-itsuiku-warn.disabled:active,
.btn-itsuiku-warn[disabled]:active,
fieldset[disabled] .btn-itsuiku-warn:active,
.btn-itsuiku-warn.disabled.active,
.btn-itsuiku-warn[disabled].active,
fieldset[disabled] .btn-itsuiku-warn.active {
  background-color: #F7B538;
  border-color: #F7B538;
}

.btn-itsuiku-warn .badge {
  color: #F7B538;
  background-color: #ffffff;
}


.btn-itsuiku-sp {
  color: #FFFFFF;
  background-color: #94AEB5;
  border-color: #FFFFFF;
}

.btn-itsuiku-sp:hover,
.btn-itsuiku-sp:focus,
.btn-itsuiku-sp:active,
.btn-itsuiku-sp.active,
.open .dropdown-toggle.btn-itsuiku-sp {
  color: #FFFFFF;
  background-color: #14BDEB;
  border-color: #FFFFFF;
}

.btn-itsuiku-sp:active,
.btn-itsuiku-sp.active,
.open .dropdown-toggle.btn-itsuiku-sp {
  background-image: none;
}

.btn-itsuiku-sp.disabled,
.btn-itsuiku-sp[disabled],
fieldset[disabled] .btn-itsuiku-sp,
.btn-itsuiku-sp.disabled:hover,
.btn-itsuiku-sp[disabled]:hover,
fieldset[disabled] .btn-itsuiku-sp:hover,
.btn-itsuiku-sp.disabled:focus,
.btn-itsuiku-sp[disabled]:focus,
fieldset[disabled] .btn-itsuiku-sp:focus,
.btn-itsuiku-sp.disabled:active,
.btn-itsuiku-sp[disabled]:active,
fieldset[disabled] .btn-itsuiku-sp:active,
.btn-itsuiku-sp.disabled.active,
.btn-itsuiku-sp[disabled].active,
fieldset[disabled] .btn-itsuiku-sp.active {
  background-color: #94AEB5;
  border-color: #FFFFFF;
}

.btn-itsuiku-sp .badge {
  color: #94AEB5;
  background-color: #FFFFFF;
}




.customize-container {
  margin-top: 50px;
}


.field-wrapper {
  padding: 20px 40px;;
}

.error-wrapper {
  margin: 0 auto;
}

.errorlist {
  list-style-type: none;
}



.sys-header {
  padding: 15px;
  margin: 10px;
  color: #000000;
}

.footer-spacer {
  margin: 100px;
}


.app-title-link:link {
    text-decoration: none;
}

.app-title-link:visited {
    text-decoration: none;
}

.app-title-link:hover {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.app-title-link:active {
    text-decoration: none;
}

.app-title-link {
  color: #000000;
}

.app-title {
  font-family: 'Inconsolata', monospace;
}
