{% extends 'base/app-base.html' %}
{% load static %}
{% block home-title %}itsuiku | ユーザー削除しました{% endblock home-title %}


{% block static-container %}
<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/app-common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/user_settings.css' %}">

{% endblock static-container %}


{% block content %}
<div class="container">

  <div class="content-title">
    itsuikuをお使いいただきありがとうございます
  </div>
  <div class="panel panel-default user-settings-panel">
    <div class="panel-body">
      <p class="lead">
        itsuikuは今後もアップデートを続け、ユーザー様に便利だと思ってもらえるサービス作りを
        目指してまいります。
        また、ユーザー様よりお使いいただける日を楽しみにしております。
        最後に、itsuikuをお使い頂きありがとうございました。<br />
        開発者：塚本圭亮
      </p>
    </div>
  </div>


</div>
{% endblock content %}

{% block js-container %}

{% endblock js-container %}
