{% extends 'base/app-base.html' %}
{% load static %}
{% block home-title %}itsuiku | ユーザー削除しました{% endblock home-title %}


{% block static-container %}
<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/app-common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/user_settings.css' %}">

{% endblock static-container %}


{% block content %}
{% include 'includes/home-navbar.html' %}

<div class="container sp-container">

  <div class="content-title">
    ユーザーを削除しました
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <p class="lead">
        itsuikuは今後もアップデートを続け、ユーザー様に便利だと感じていただける
        サービスを目指していきます<br />
        またいずれ、ユーザー様よりitsuikuをお使いいただける日を楽しみにしております。<br />
        最後に、itsuikuをお使い頂きありがとうございました。<br />
      </p>
      <p class="lead text-right">itsuiku開発者：塚本圭亮</p>
    </div>
  </div>
</div>
{% endblock content %}

{% block js-container %}

{% endblock js-container %}
