{% extends 'base/home-base.html' %}
{% load static %}

{% block home-title %}itsuiku | パスワードを忘れた方{% endblock home-title %}

{% block static-container %}
{% endblock static-container %}


{% block content %}

{% include 'includes/home-navbar.html' %}


<style>
.customize-container {
  margin-top: 70px;
}

.field-wrapper {
  padding: 10px;
}

.errorlist {
  list-style-type: none;
}
.account-form-container {
  max-width: 500px;
  margin: 0 auto;
}
</style>

<div class="container customize-container">

  <h1 class="text-center">パスワードを忘れた方</h1>
  <div class="panel panel-default account-form-container">
    <div class="panel-body">
      {% if login_failed %}
        <div class="alert alert-danger" role="alert">{{ login_failed }}</div>
      {% endif %}
      <form method="POST" action="">
        {% csrf_token %}
        {% for field in p_r_form %}
          <div class="field-wrapper">
            {% if field.errors %}
            <div class="alert alert-danger" role="alert">
              {{ field.errors }}
            </div>
            {% endif %}
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
              <p class="help-text">{{ field.help_text|safe }}</p>
            {% endif %}
          </div>
        {% endfor %}
        <input type="submit" value="送信する" class="btn btn-info btn-block">
      </form>
    </div>
  </div>


</div>


{% endblock content %}
