{% extends 'base/app-base.html' %}
{% load static %}
{% block home-title %}itsuiku | パスワード変更完了{% endblock home-title %}


{% block static-container %}
<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/app-common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/user_settings.css' %}">

{% endblock static-container %}


{% block content %}
<div class="container">
  {% include 'includes/app-navbar.html' %}


  <div class="content-title">
    パスワード変更完了
  </div>
  <form method="POST" action="">
    {% csrf_token %}
    <div class="panel panel-default user-settings-panel">
      <div class="panel-body">
        <p class="lead">
          パスワードを変更しました！<br />
          安全なセキュリティ保持のため、強制的にログアウトしました<br />
          下ボタンをクリックし、サイドログインしてください
        </p>
        <a class="btn btn-itsuiku" href="{% url 'account:login' %}">ログインする</a>
      </div>
    </div>
  </form>

</div>
{% endblock content %}
