{% extends 'base/app-base.html' %}
{% load static %}
{% block home-title %}itsuiku | 設定{% endblock home-title %}


{% block static-container %}
<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/app-common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/user_settings.css' %}">

{% endblock static-container %}


{% block content %}
<div class="container">
  {% include 'includes/app-navbar.html' %}

  <!-- <div class="user-settings-container"> -->
  <div>
  {% include 'includes/messages.html' with message=messages %}

  <div class="content-title">
    ユーザー設定
  </div>
  <hr />
  <form method="POST" action="">
      {% csrf_token %}
      <div class="panel panel-default user-settings-panel">
        <div class="panel-body">
          <!-- {{ user_profile.username }} -->
          {% if user_profile %}
            <p>あなたのユーザー名:{{ user_profile.username }}</p>
          {% else %}
            <p>
              ユーザー名は登録されていません
              デフォルトでは、ゲストと表示されます
            </p>
          {% endif %}
          {{ user_profile_form.as_p }}
          <p class="text-center">
            <input type="submit" class="btn btn-itsuiku-pr" value="登録">
          </p>
        </div>
      </div>
  </form>

  <hr />

  <div class="content-title">
    メールアドレス変更
  </div>
  <hr />
  <div class="panel panel-default user-settings-panel">
    <div class="panel-body">
  <label>現在登録のメールアドレス</label>
  <p>{{ request.user.email }}</p>
  <form method="POST" action="{% url 'user-settings:change_user_email' %}">
    {% csrf_token %}
    {{ change_user_email_form.as_p }}
    <p class="text-center">
      <input type="submit" class="btn btn-itsuiku-pr" value="メールアドレスを変更">
    </p>
  </form>
</div>
</div>


<div class="content-title">
  パスワード変更
</div>
<hr />
<div class="panel panel-default user-settings-panel">
  <div class="panel-body">
  <a class="btn btn-itsuiku-imp" href="{% url 'user-settings:change_password' %}">
    パスワードを変更する
  </a>
</div></div>


<div class="content-title">
  退会処理
</div>
<hr />
<div class="panel panel-default user-settings-panel">
  <div class="panel-body">
  <div class="alert alert-danger" role="alert" style="margin-bottom: 5px;">
    ※退会処理を実行すると、今まで作成したイベントのデータは全て削除され復元はできません
  </div>
  <button type="button" class="btn btn-itsuiku-imp" data-toggle="modal" data-target="#deleteUserAccountModal">
    退会する
  </button>
</div></div>
  <!-- Modal -->
  <div class="modal fade" id="deleteUserAccountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Warning!</h4>
        </div>
        <div class="modal-body">
          ユーザーアカウントを削除すると今まで作成されたイベントは全て削除され復元はできません。
          それでも削除をしますか？
        </div>
        <div class="modal-footer">
          <a class="btn btn-xs btn-danger" href="{% url 'user-settings:delete'%}">
            削除
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Model end -->



</div>


</div>
{% endblock content %}

{% block js-container %}
<script src="{% static 'js/messages.js' %}"></script>

{% endblock js-container %}
