{% extends 'base/home-base.html' %}
{% load static %}

{% block home-title %}itsuiku | ログイン{% endblock home-title %}

{% block static-container %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
{% endblock static-container %}


{% block content %}

<div class="container">
  <h1 class="text-center">ユーザーログイン</h1>
  <div class="panel panel-default login-form-container">
    <div class="panel-body">
      {% if login_failed %}
        <div class="alert alert-danger" role="alert">{{ login_failed }}</div>
      {% endif %}
      <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="ログイン" class="btn btn-primary">
        <a href="{% url 'account:signup' %}">まだユーザー登録していない方はこちら</a>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
