{% extends 'base/home-base.html' %}
{% load static %}

{% block home-title %}itsuiku | ユーザー登録ありがとうございます{% endblock home-title %}

{% block static-container %}
<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
{% endblock static-container %}

{% block content %}
<!-- {% include 'includes/home-navbar.html' %} -->

<div class="customize-bg">
  <div class="container customize-container">
    <div class="sys-header">
      <a class="app-title-link" href="{% url 'home:top'  %}">
        <h3 class="text-center">itsuiku</h3>
      </a>
    </div>
    <div class="panel panel-default auth-form-container">
      <div class="panel-body">
        <h3 class="text-center">ユーザー登録ありがとうございます！</h3>
        <p class="text-center">
          ご登録のメールアドレスにユーザー認証のリンクをお送りいたしましので、<br />
          リンクをクリックしユーザーを有効にしてください。
        </p>
      </div><!-- end panel-body -->
    </div><!-- panel end -->
  </div><!-- end container -->
</div><!-- end customize-bg -->
<div class="footer-spacer"></div>
{% endblock content %}
