{% extends 'base/home-base.html' %}
{% load static %}

{% block home-title %}itsuiku | サインアップ{% endblock home-title %}

{% block static-container %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
{% endblock static-container %}

{% block content %}




<div class="container">
  <h1 class="text-center">サインアップ</h1>


  <div class="panel panel-default signup-form-container">
    <div class="panel-body">
      <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="登録する" class="btn btn-primary">
      </form>
    </div>
  </div>


</div>
{% endblock content %}
