<style>


.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:hover {
  /*color: red;*/
}

.navbar-default .navbar-nav>li>a {
  color: white;
}


.customize-navbar {
  padding: 10px;
  background: #14bdeb;
}

.customize-navbar-brand {
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 24px;
}


.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

body {
  padding-top: 120px;
  padding-bottom: 120px;
}


.navbar-fixed-top { position: absolute!important; }






</style>

<!-- <nav class="navbar navbar-default navbar-fixed-top customize-navbar"> -->
<nav class="navbar navbar-default navbar-fixed-top customize-navbar">

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand customize-navbar-brand app-title" href="{% url 'home:top' %}">itsuiku</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class=""><a href="{% url 'user-dashboard' %}">マイページ</a></li>
        <li><a href="{% url 'event:create-event' %}">イベント作成</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ユーザー <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'user-settings:main' %}">設定</a></li>
            <li><a href="{% url 'account:logout' %}">ログアウト</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
