{% extends 'base/home-base.html' %}
{% load static %}
{% block home-title %}itsuiku | 問い合わせ{% endblock home-title %}

{% block static-container %}
<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">


{% endblock static-container %}

{% block content %}

{% include 'includes/home-navbar.html' %}

<div class="container sp-container">

  {% include 'includes/messages.html' with message=messages %}

  <div class="content-title">
    お問い合わせ
  </div>
  <div class="panel panel-default contact-form-container">
    <div class="panel-body">
      <form method="POST" action="">
        {% csrf_token %}
        {{ contact_form.as_p }}
        <input type="submit" value="送信する" class="btn btn-itsuiku btn-block">
      </form>
    </div>
  </div>


</div>
{% endblock content %}


{% block js-container %}
<script src="{% static 'js/messages.js' %}"></script>

{% endblock js-container %}
