{% extends 'base/home-base.html' %}

{% block home-title %}itsuiku | 問い合わせ{% endblock home-title %}

{% block content %}



{% include 'includes/home-navbar.html' %}


<style>
.customize-container {
  margin-top: 70px;
}

.contact-form-container {
  max-width: 600px;
  margin: 0 auto;
}

</style>



<div class="container customize-container">
  <h1>お問い合わせ</h1>

  <div class="panel panel-default contact-form-container">
    <div class="panel-body">
      <form method="POST" action="">
        {% csrf_token %}
        {{ contact_form.as_p }}
        <input type="submit" value="送信する" class="btn btn-primary btn-block">
      </form>
    </div>
  </div>


</div>
{% endblock content %}
