{% extends 'base/home-base.html' %}
{% load static %}

{% block home-title %}itsuiku | Q&A{% endblock home-title %}

{% block static-container %}
<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">


{% endblock static-container %}

{% block content %}



{% include 'includes/home-navbar.html' %}


<style>
/*.customize-container {
  margin-top: 70px;
}*/
</style>



<div class="container sp-container">

  <div class="content-title">
    Q&A
  </div>

  <h3>itsuikuの使い方</h3>
  <p>Youtubeに動画をアップロードして、ここに貼り付ける予定</p>
</div>
{% endblock content %}
