{% extends 'base/home-base.html' %}
{% load static %}

{% block home-title %}itsuiku | トップページ{% endblock home-title %}

{% block static-container %}
<link rel="stylesheet" href="{% static 'css/common.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock static-container %}


{% block content %}
{% include 'includes/home-navbar.html' %}
<div class="jumbotron customize-jumbotron">
      <div class="container">
        <h1 class="app-title">itsuiku</h1>
        <p>
          itsuikuは、友達や同僚とのイベント事のスケジュールを管理するアプリです。<br />
        </p>
        <p>
          <a class="btn btn-lg btn-itsuiku" href="{% url 'account:signup' %}" role="button">
              無料登録をし、イベントを作成する
          </a>
        </p>
      </div>
    </div>
</div>
<div class="container">

</div>
{% endblock content %}
