{% extends 'base/home-base.html' %}

{% block home-title %}itsuiku | トップページ{% endblock home-title %}

{% block content %}



{% include 'includes/home-navbar.html' %}



<div class="jumbotron">
      <div class="container">
        <h1>itsuiku</h1>
        <p>
          itsuikuは、友達や同僚とのイベント事のスケジュールを管理するアプリです。<br />
        </p>
        <p>
          <a class="btn btn-primary btn-lg" href="{% url 'account:login' %}" role="button">
              さっそくイベントを作成する
          </a>
        </p>
      </div>
    </div>
</div>


<div class="container">

</div>
{% endblock content %}
